button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  border-radius: 40px;
  font-size: 1.2rem;
  text-align: center;
  font-family: $font__heading;
  text-decoration: none;
  border: none;
  background: $color__background-button;
  color: $color__background-screen;
  line-height: 1;
  padding: 12px 30px 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 1px;

  &:hover {
    background: $color__link-hover;
    color: $color__background-screen;
  }

  &:active,
  &:focus {
    background: $color__link-hover;
    color: $color__background-screen;
  }
}

.button-reverse {
  background: $color__link-hover;
  &:hover {
    background: $color__background-screen;
    color: $color__link-hover;
  }

  &:active,
  &:focus {
    background: $color__background-screen;
    color: $color__link-hover;
  }
}
