h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: $font__heading;
  font-display: optional;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  line-height: 1.2;
  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2.4rem;
  @media (min-width: 760px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 1.6rem;
  @media (min-width: 760px) {
    font-size: 2.2rem;
  }
}

h3 {
  font-size: 1.3rem;
  @media (min-width: 760px) {
    font-size: 1.4rem;
  }
}
