.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-main {
  flex-grow: 1;
  justify-content: stretch;
}

.three-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  > div {
    width: 33.3%;
  }
}

.wrapper {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

.event-card {
  background: $color__background-screen;
  display: block;
  padding: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  > h3,
  p {
    margin: 0;
  }
}

.capsule {
  background: $color__link-hover;
  color: $color__background-screen;
  display: inline-flex;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 8px;
  letter-spacing: 0.7px;
}

.event-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bg-image {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;

  h2 {
    margin: 0;
  }
  a {
    background: $color__background-screen;
    padding: 40px;
  }
}

.event-column {
  section {
    padding: 0 20px;
  }
  h2 {
    text-align: center;
  }
}

.home-blocks {
  width: 100%;
}
