.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-main {
  flex-grow: 1;
  justify-content: stretch;
}

.three-columns {
  display: flex;
  flex-direction: column;
}

.event-column {
  order: -1;
  section {
    padding: 0 60px;
  }
  h2 {
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .three-columns {
    flex-direction: row;
    width: 100%;
    min-height: calc(100vh - 85px);
    > div {
      width: 33.3%;
    }
  }
  .event-column {
    order: 0;
    section {
      padding: 0 20px;
    }
  }
}

.wrapper {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.page-container {
  padding: 60px 0 160px;
}

form {
  width: 400px;
  margin: 0 auto;
}

.event-card {
  background: $color__background-screen;
  display: block;
  padding: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  > h3,
  p {
    margin: 0;
  }
}

.capsule {
  background: $color__link-hover;
  color: $color__background-screen;
  display: inline-flex;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-bottom: 8px;
  letter-spacing: 0.7px;
}

.event-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bg-image {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  padding: 40px;

  h2 {
    margin: 0;
    text-align: center;
  }
  a {
    background: $color__background-screen;
    padding: 40px;
    display: block;
  }
}

.home-blocks {
  width: 100%;
}

.vqt {
  .acf-fields > .acf-field {
    border-top: none;
  }
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea {
    border-radius: 0;
    border: 1px solid $color__link-hover;
  }
  select {
    border: 1px solid $color__link-hover;
  }
  .acf-field input[type="text"],
  .acf-field input[type="password"],
  .acf-field input[type="date"],
  .acf-field input[type="datetime"],
  .acf-field input[type="datetime-local"],
  .acf-field input[type="email"],
  .acf-field input[type="month"],
  .acf-field input[type="number"],
  .acf-field input[type="search"],
  .acf-field input[type="tel"],
  .acf-field input[type="time"],
  .acf-field input[type="url"],
  .acf-field input[type="week"],
  .acf-field textarea,
  .acf-field select {
    padding: 8px 16px;
  }
  .acf-form-submit {
    padding-left: 12px;
  }
  .acf-required {
    color: $color__background-button;
  }
}

.vqt-event-checkbox {
  display: none;
}
