.site-header {
  padding: 20px 40px;
  .custom-logo-link {
    width: 100px;
  }
}

.site-footer {
  padding: 20px 40px;
  h3 {
    margin: 0;
  }
  p {
    font-size: 0.8rem;
    margin: 0;
  }
  .callout {
    margin-bottom: 40px;
    h3 {
      margin-bottom: 5px;
    }
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}

.footer-logo {
  width: 180px;
  margin-bottom: 40px;
}
