.site-header {
  padding: 10px 40px;
  background: #283e40;
  .custom-logo-link {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    // gap: 8px;
    color: $color__link-hover !important;
    font-size: 1.6rem;
    text-decoration: none;
    line-height: 1;
    img {
      width: 150px;
    }
    span {
      position: relative;
      top: -2px;
    }
  }
}

.site-footer {
  padding: 40px 40px 20px;
  background: #283e40;
  color: $color__background-screen;
  h3 {
    margin: 0 0 5px;
  }
  p {
    font-size: 0.8rem;
    margin: 0;
  }
  .callout {
    margin-bottom: 40px;
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color__background-screen;
  }
  svg {
    width: 30px;
    height: 30px;
  }
}

.footer-logo {
  width: 260px;
  margin-bottom: 40px;
}
